body {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-top: 0px;
    color: #40514E;
}
h1 {
    
    font-family: 'Sacramento', cursive;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 75px;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    top: 400px;
    left: 400px;
}

.middle-container {
    margin: 40px auto 40px auto;
    padding: 40px auto 40px auto;
 
}

.bottom-container {
    margin-top: 90px;
    background-color: #66BFBF;
    padding: 50px 0px 50px 0px;
    
    

}

h2 {
    font-size: 2.5rem;
    color: #66BFBF; 
    font-weight: normal;
}

h1 {
    font-size:5.625rem ; 
    margin-top: 0px;
    color: #66BFBF;
    line-height: 2;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.skill-img2 {
    width: 25%;
    float: right;
    margin-right: 30px;
}

hr {
    width: 10%;
    border-style: dotted;
    border-width: 10px;
    border-top: 0px;
    border-color: grey;
    margin: 100px auto 100px auto;
}

.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  a {
    margin: 0px 30px 0px 30px;
    text-decoration:none;
    
  }

  a:hover {
    color: #EAF6F6;
  }





  .trademark {
    margin: 30px auto 0px auto;
    color: #EAF6F6;
    font-size: 0.75rem;
  }

  .contact {
    margin: 50px auto 50px auto;
  }

  .my-img {
    width: 15%;
  }